
@use '@/styles/sass/_link.scss' as *;
@use "sass:map";
@use '@/styles/sass/_globalVariables.scss' as globalVariables;

$color: skyblue;
$lineColor: hotpink;
$fontColor: #bbb;
$yearBgColor: #333;
$breakpoint: 700px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    width: 100%;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #3b3b3b;
    height: inherit;
    line-height: inherit;
    line-height: 2;

}
h1 {
  font-size: 1rem; // ~16px
}

h2 {
  font-size: 1.5rem; // ~24px
}

h3 {
  font-size: 1rem; // ~16px
}

a {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #3b3b3b;
    font-size: 12px;
    height: inherit;
    line-height: inherit;
    white-space: nowrap;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #3b3b3b;
    font-size: 12px;
    height: inherit;
    line-height: inherit;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
    
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    display: block;
    @media (min-width: map.get(globalVariables.$breakPoints, "desktop")) {
      max-width: 1480px;
  }
}

.image404 {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.liveLink {
  @include base-link;
}


 

.timelineContainer {
    background-color: white;
    padding: 70px 0 70px 0 ;
    //border: solid 1px rgba(160, 160, 160, 0.3);
     
}
.timeline {
  position: relative;
  padding: 40px 15px 40px 40px;
  margin: 0 auto;
  border-top: 1px solid rgba(160, 160, 160, 0.3);
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
   
    &Title {
        font-size: 1.5em;
        font-weight: 900;
        margin: 0;
        white-space: wrap;
    }
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    background-size: contain;
    border-right: solid 0.5px rgba(160, 160, 160, 0.3);
    //left: 10%;
    @media screen and (min-width: 768px) {
      right: 160px;
    }
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &__title {
    color: rgb(91, 86, 86);
    text-transform: math-auto;
    font-size: 14px;
    font-style: italic;
    
  }
}

.timeline__item { 
  padding: 10px 20px;
  
  @media screen and (min-width: 768px) {
    padding: 1rem;
    position: relative;
    margin: 20px 160px 0px auto;
    clear: both;
    max-width: fit-content;
    text-align: right;
    
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
  }
  
}

.timeline__item--year {
    text-align: left;
    font-size: 1rem;
    line-height: 1;
    border-image: none;
    position: relative;
    @media screen and (min-width: 768px) {
      text-align: center;
    }
    &:before {
        content: '';
        position: absolute;
        width: 20px;  
        height: 10px; 
        border-radius: 50px;  
        top: 50%;  
        left: -10px;
        right: 0;
        transform: translateY(-50%);
        // background-image: url('../../public/images/flag.png');
        background-size: cover; // or 'contain' depending on your needs
        background-position: center;
        background-repeat: no-repeat;
        // transform: rotate(90deg);
        background-color: rgb(255, 190, 49);
        @media screen and (min-width: 768px) {
          right: -30px;  
          left: unset;
        }
    }
   
}

.slick-dots {
  top: -50px;
  max-height: fit-content;
  li {
    border-radius: 50%;
    background-color: rgb(207, 210, 211);
  }
   
}
.slick-dots li.slick-active button::before, .slick-dots li button:before {
  color: transparent;
}
 
.pure1 {
  img {
    max-width: 300px !important;
    margin: 0 auto;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}

 