@use '@/styles/sass/_link.scss' as *;

.projects {
    width: 100%;
    &Title {
        font-size: 17px;
        color: #3c3b3b;
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 800;
        letter-spacing: 0.25em;
        line-height: 1.65;
        margin: 1em 0 1em 0;
        text-transform: uppercase;
        padding-top: 30px;
    }
    .project {
        &Header {
            background-color: white;
            padding: 30px 20px 20px 20px;
        }
        &Title {
            color: black;
            margin-bottom: 1rem;
            white-space: wrap;
            line-height: 1.5;
        }
        &Date {
            display: block;
            font-family: "Raleway", Helvetica, sans-serif;
            font-size: 0.6em;
            font-weight: 400;
            letter-spacing: 0.25em;
            margin: -0.625em 0 1.7em 0;
            text-transform: uppercase;
        }
        .liveLink {
            @include base-link;
        }
        &Post {
            position: relative;
            margin-bottom: 20px;
            border: solid 1px rgba(160, 160, 160, 0.3);
        }
        &Link {
            &::before {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
            }
        }
        .linkArrow {
            border: 1px solid red;
            width: 1.55em;
            height: 1.55em;
            fill: currentColor;
            //transform: rotate(-90deg);
            flex-shrink: 0;
            transition: .2s ease-out transform;
        }
    }
    img {
        width: 100%;
        display: block;
        height: auto;
        
    }
     
     
}