 
@use "sass:map";
@use '@/styles/sass/_link.scss' as *;
@use '@/styles/sass/_globalVariables.scss' as globalVariables;

.contact {
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 70px;
    margin-bottom: 40px;
    //border: solid 1px rgba(160, 160, 160, 0.3);
    &Section {
        display: flex;
         
        @media (min-width: map.get(globalVariables.$breakPoints, "desktop")) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &Title {
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 800;
        letter-spacing: .25em;
        line-height: 1.65;
        margin: 1em 0;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    &Content {
        flex-grow: 1;
        padding: 20px 40px 40px 40px;
        border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        svg {
            width: 20px;
        }
    }

    &Image {
        padding: 3.75em 3em 1.75em 3em;
        border-left: solid 1px rgba(160, 160, 160, 0.3);
        min-width: 10em;
        text-align: right;
        width: 10em;
        border-bottom: solid 1px rgba(160, 160, 160, 0.3);
        display: none;
        @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
            display: block;
            
        }
        img {
            border-radius: 100%;
            display: block;
            width: 4em;
        }
    }
    &Form {
        position: relative;
        .formGroup {
            width: 100%;
        }
        .label {
            font-family: Raleway, Helvetica, sans-serif;
            font-weight: 800;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        .input {
            width: 100%;
            padding: 15px 20px;
            display: block;
            margin-bottom: 20px;
            border: solid 1px rgba(160, 160, 160, 0.3);
            border-radius: 4px;

        }
        .textArea {
            width: 100%;
            padding: 10px 20px;
            display: block;
            border: solid 1px rgba(160, 160, 160, 0.3);
        }
        .liveLink {
            @include base-link;
        }
    }
      
}
.successMessage {
    margin-top: 30px;
    border: solid 1px rgba(160, 160, 160, 0.3);
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #e8fbe8;
    font-size: 14px;
}

.errorMessage {
    margin-top: 30px;
    border: solid 1px rgba(160, 160, 160, 0.3);
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #ffd5d5;
    font-size: 14px;
}