@use '@/styles/sass/_link.scss' as *;
@use "sass:map";
@use '@/styles/sass/_globalVariables.scss' as globalVariables;

.video {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 70px;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
      display: flex;
      max-width: 1400px;
      margin-bottom: 50px;
    }
  &Col1 {
    width: 100%;
    padding: 0 30px;
   
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 50%;
        padding: 100px 50px 100px 0;
    }
  }
  &Col2 {
    width: 100%;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 50%;
    }
  }
  &Title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Archivo Black', 'Archivo Black Fallback';
    line-height: 1.5;
    letter-spacing: normal;
    white-space: wrap;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        font-size: 3rem;
        line-height: 1;
        text-align: left;
        letter-spacing: 1px;
         
    }
    @media (min-width: map.get(globalVariables.$breakPoints, "largeDesktop")) {
        font-size: 4.5rem;
        line-height: 1;
        text-align: left;
    }
  }
  &Container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    padding: 30px 0 30px 0;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 100%;
        padding: 0;
    }
    video {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover; // Ensures no weird stretching
        border-radius: 12px;
      }
  }
  .word {
    display: block;
  }
}