@use '@/styles/sass/_link.scss' as *;
@use "sass:map";
@use '@/styles/sass/_globalVariables.scss' as globalVariables;

.video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 70px;
  padding: 0;
  @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
    display: flex;
    padding: 0 40px; 
    margin-bottom: 50px;
    // padding: 0 40px;
  }
  @media (min-width: map.get(globalVariables.$breakPoints, "largeDesktop")) {
    padding: 0;
    // background-color: red;
  }
  &Col1 {
    width: 100%;
    padding: 0 30px;
   
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 50%;
        padding: 100px 50px 100px 0;
    }
  }
  &Col2 {
    width: 100%;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 50%;
    }
  }
  &Title {
    text-align: left;
    font-size: 1rem;
    font-family: 'Archivo Black', 'Archivo Black Fallback';
    line-height: 1.5;
    display: none;
    color: var(--card-text);
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
      display: block;
      font-size: 3rem;
      line-height: 1;
      text-align: left;
      letter-spacing: 1px;
         
    }
    @media (min-width: map.get(globalVariables.$breakPoints, "largeDesktop")) {
        font-size: 4.5rem;
        line-height: 1;
        text-align: left;
    }
     
  }
  &Container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    padding: 0 0 30px 0;
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        width: 100%;
        padding: 0;
    }
    video {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover; // Ensures no weird stretching
        border-radius: 12px;
      }
  }
  .word {
    display: block;

    @media (min-width: map.get(globalVariables.$breakPoints, "tablet"))  {
      display: block;
    }
     
  }
}