.btn {
    background-color: var(--card-bg);
    color: var(--card-text);
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 50px;
    font-family: "Archivo Black", "Archivo Black Fallback";
}