@use "sass:map";
@use '@/styles/sass/_globalVariables.scss' as globalVariables;


.card {
    width: 100%;
    position: relative;
    background-color: var(--card-bg);
    color: var(--card-text);
    border: var(--border);
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
     
    @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
        flex-direction: row;
        padding-bottom: 70px;
        
    }
    &Title {
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 800;
        letter-spacing: 0.25em;
        line-height: 1.65;
        margin: 1em 0 1em 0;
        text-transform: uppercase;
        font-size: 1.5em;
        color: var(--card-text);
    }
     
    &Content {
        flex-grow: 1;
        padding: 20px 20px 40px 40px;
        border-bottom: var(--border);
        order: 2;
        
        @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
            order: unset;
        }
        svg {
            width: 20px;
             
        }
    }

    &Image {
        width: 100%;
        padding: 30px;
        border-left: var(--border);
        text-align: right;
        border-bottom: var(--border);
        order: 1;
        @media (min-width: map.get(globalVariables.$breakPoints, "tablet")) {
            padding: 3.75em 3em 1.75em 3em;
            order: unset;
            width: 10em;
            min-width: 10em;
        }
        img {
            border-radius: 100%;
            display: block;
            width: 4em;
            margin: 0 auto;
        }
    }
    &Description {
        font-family: "Raleway", Helvetica, sans-serif;
        font-size: 0.7em;
        font-weight: 400;
        letter-spacing: 0.25em;
        line-height: 2.5;
        margin-top: -1em;
        text-transform: uppercase;
        white-space: wrap;
        color: var(--card-text);
         
    }
     
}